/**
* Colors
*
* Название переменной конкретного цвета генерируется через сервис: http://chir.ag/projects/name-that-color/.
* Значение цвета всегда указывается в HEX-формате в нижнем регистре (кроме исключительных случаев).
*/
// Пример указания цветов
$bunker: #121920;
$rangoon-green: #1c1c1c;
$mine-shaft: #2f2f2f;
$gray: #828282;
$seashell: #f1f1f1;
$bon-jour: #e1e1e1;

$equator: #eebf63;
$geebung: #cd921e;
$cornflower: #90c0e8;
$downy: #6fc2c5;
$blue-bayoux: #486074;
$casal: #386163;


$color-text: $bunker;
$color-background: $seashell;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

/**
* Fonts
*/
$font-path: '/assets/fonts/';
$font-family-custom: 'poppins';
$font-family: $font-family-custom;


// ============================================================

/**
* Breakpoints
*/
// Пример указания медиазапросов, затем можно использовать ее как '@media #{$screen-medium} {...}'
$screen-desktop: '(min-width: 1240px)';
$screen-tablet: '(min-width: 768px)';

/**
* Layout
*/
$width-container: 1110px;
$gap-container: 20px;


/**
* Sizes
*/
$header-height-mobile: 105px;
$header-height-desktop: 80px;


/**
* Transitions and Animations
*/



/**
* Radius
*/
$border-radius-tiny: 10px;
$border-radius-small: 20px;
$border-radius-big: 25px;
$border-radius-large: 30px;
$border-radius-huge: 45px;


/**
* Box-shadows
*/



/**
* Z-indexes
*/
$z-index-header: 50;
